.home-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box-img {
    width: 90%;
    height: 200px;
}

.home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.title-home {
    color: white;
}

.sub-title-home {
    margin-top: 3rem;
    color: white;
}

.text-home {
    color: white;
    padding-top: 2rem;
}

@media screen and (min-width: 993px) {
    .box-img {
        width: 65%;
        height: 400px;
    }

    .desc-home {
        width: 65%;
    }
}